:root {
  --shape-size: 240;
}

.question-branch-paper {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 20px;
}

.add-cursor {
  cursor: pointer;
}

.delete-cursor {
  cursor: url("/src/img-icons/Eraser-icon.png") -16 16, auto;
}

.graph-line {
  padding: 5px;
}

.main-question-container {
  display: flex;
  width: 90vw;
  height: 95vh;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.question-section {
  display: flex;
  width: 78%;
  /* height: 100%; */
  background: #f1f7ff;
  border-radius: 10px;
  border: 1px solid #bc6c25;
  /* justify-content: space-around; */
  flex-direction: column;
  margin-top: 20px;
}
.question-branches {
  display: flex;
  flex-direction: column;
  width: 17%;
  height: 100%;
  background-color: #d9e9ff;
  border: 2px solid #bc6c25;
  border-radius: 10px;
  margin-top: 20px;
}
.shapes {
  width: calc(1px * var(--shape-size));
  height: calc(1px * var(--shape-size));
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
}
.timer {
  width: 100px;
  height: 100px;
  background-color: #bc6c25;
  border-radius: 50%;
}
.question {
  width: 75%;
  display: flex;
  /* background-color: white; */
  justify-content: center;
}
.question-timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12px;
  width: 100%;
}
.answer-section {
  display: flex;
  width: 75%;
  margin: 12px auto;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.svg-draw-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(1px * calc(1.45 * var(--shape-size)));
  width: calc(1px * calc(1.45 * var(--shape-size)));
  background-color: white;
}
.solution {
  border: none;
}

.answer-board-tools {
  display: flex;
  flex-direction: column;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
}
