.question-branch-paper {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 20px;
}

.add-cursor {
  cursor: pointer;
}

.delete-cursor {
  cursor: url("/src/img-icons/Eraser-icon.png") -16 16, auto;
}

.graph-line {
  padding: 5px;
}
